{
  "app": {
    "guid": "e4d12467-37da-4b7a-96ba-eb8ea4f1e6de",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.maps",
    "artifactId": "io.cronapp.apps.maps"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZTRkMTI0NjctMzdkYS00YjdhLTk2YmEtZWI4ZWE0ZjFlNmRl",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.maps",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "locale": "",
  "xframeOptions": "SameOrigin"
}